#
# Global
#
**/.agitator
**/.classpath
**/.clover
**/.project
**/.settings
**/bin
**/target
**/.cache
**/src/main/resources/rebel.xml
**/.cache*

# intellij idea
.idea
*.iml
*.ipr
*.iws
*.cache

**.DS_Store
/core/.tmpBin

lib/*

# docs
/build/
/.java-version
